.site-header {
	position: sticky;
	max-width: 700px;
	top: 0;
	display: flex;
	justify-content: space-between;
	background-color: red;
}
.main-nav__logo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}
.main-nav__list {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	background-color: gray;
	gap: 10px;
	padding: 10px;
}

.main-nav__item {
	background-color: yellow;
}

.main-nav__link {
	display: block;
	text-align: center;
	padding: 5px 10px;
	color: var(--nav--text-color);
	font-family: var(--font-serif);
	font-size: 1.2rem;
}

.main-nav__link:hover {
	color: var(--nav-text-color-hovered);
}
